<h2>Datos del participante</h2>
<mat-card class="example-card"[class.ganador]="jugadorIn.ganador">
    <mat-card-title 
        [matBadge]="jugadorIn.ganador" 
        matBadgeSize="large" 
        [matBadgeHidden]="!jugadorIn.presentar">{{jugadorIn.nombre}}</mat-card-title>
    <mat-card-content>
        <p>
            Correo: {{jugadorIn.correo}}<br/>
            Telefono: {{jugadorIn.telefono}}<br/>
            Documento: {{jugadorIn.documento}}<br/>
        </p>
    </mat-card-content>
  </mat-card>